// @import url(https://fonts.googleapis.com/css?family=Open+Sans);
// @import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: 'Moderat-Bold';
  src: url('../fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Moderat-Bold.otf')  format('opentype'),
	     url('../fonts/Moderat-Bold.woff') format('woff'), url('../fonts/Moderat-Bold.ttf')  format('truetype'), url('../fonts/Moderat-Bold.svg#Moderat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('../fonts/Moderat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Moderat-Regular.otf')  format('opentype'),
	     url('../fonts/Moderat-Regular.woff') format('woff'), url('../fonts/Moderat-Regular.ttf')  format('truetype'), url('../fonts/Moderat-Regular.svg#Moderat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
