.footer-main {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Moderat";
    letter-spacing: rem(3);

    li {
      padding: 20px 30px;

      a {
        border-bottom: 1px solid $white;
        padding-bottom: 5px;
      }
    }
  }
}
