.header-main {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: rem(20);
}

.nav-main {
  ul {
    display: flex;
    li {
      padding: 10px 30px;
      font-family: "Moderat";
      letter-spacing: $base-letter-spacing;
    }
  }
}
