body {
  background-color: $black;
}

.section {
  min-height: 100vh;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    border-bottom: 5px solid $white;
    padding-bottom: 5px;
  }

  h2 {
    // border-bottom: 8px solid $white;
    // padding-bottom: 5px;
    // display: inline-block;
    &:after {
      content: "";
      display: block;
      width: rem(80);
      background-color: $white;
      height: 8px;
      margin-top: 25px;
    }
  }



  .wrapper {
    @include outer-container;
    padding: 0 $gutter*2;
    width: 100%
  }


  &-hero {
    text-align: center;
    @include background(url("../images/hero.jpg"));
    background-size: cover;
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0;
      font-size: 7rem;
      margin: 0;
      letter-spacing: $base-letter-spacing;
    }

    .scroll-action {
      border-bottom: 0;
      position: absolute;
      text-decoration: none;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      .text {
        font-family: 'Moderat-Bold';
        letter-spacing: $base-letter-spacing;
      }
      span {
        font-family: 'Moderat';
        font-size: rem(20);
        display: block;
      }
      .arrow {
        margin-top: 10px;
        font-size: rem(40);
      }
    }
  }

  &-about {
    p {
      margin-top: 1.5em;
    }
  }

  &-clients {
    .row {
      @include outer-container;
      width: 100%;
      max-width: 100%;
    }
    .col {
      @include span-columns(4);
      li {
        margin-top: 150px;
      }
      &:nth-child(3n-1) {
        li {
          margin-top: 200px;
          text-align: center;
        }
      }
      &:nth-child(3n) {
        li {
          margin-top: 250px;
          text-align: right;
        }
      }
    }


    .wrapper {
      margin: 0
    }

  }

  &-contact {

    text-align: center;
  }
}
